@use '_index' as *;

.banner {
	width: 100vw;
}

@mixin code-token-colors($prefix: 'color') {
	$tokens: comment prolog doctype cdata punctuation keyword property tag boolean number constant
		symbol function class-name string char attr-value regex url operator entity inserted deleted
		important bold italic;

	@each $token in $tokens {
		@if $token == bold {
			.token.bold {
				font-weight: bold;
			}
		} @else if $token == italic {
			.token.italic {
				font-style: italic;
			}
		} @else {
			.token.#{$token} {
				color: var(--#{$prefix}-#{$token});
			}
		}
	}
}

#content {
	overflow-y: scroll;
	position: sticky;
	padding-bottom: $x-space-xxl;

	.heading-anchor {
		display: inline-block;
		color: var(--color-text-muted);
		position: relative;
		right: -$x-space-md;
	}

	pre {
		display: block;
		overflow-x: auto; /* horizontal scroll inside pre */
		max-width: 100%; /* never exceed parent width */
		margin: 1em 0;
		border-radius: 0.5em;
		white-space: pre; /* preserve spacing */
		word-wrap: normal; /* don’t wrap lines unless necessary */

		&:has(code) {
			background-color: var(--color-surface);
			@include code-token-colors();
			margin-bottom: $x-space-lg;
			padding-block: $x-space-sm;
			padding-inline: $x-space-md;
		}
	}

	code {
		@include fonts-stack('Satoshi-Regular', sans-serif);
		letter-spacing: 1.2px;
	}

	/* Important: make code a block to contain long lines */
	pre code {
		display: block;
		width: 10ch;
		tab-size: $x-space-sm;

		@include layout-respond-max('md') {
			font-size: $x-font-size-md;
		}

		@include layout-respond('md') {
			font-size: $x-font-size-lg;
		}
	}

	aside {
		.table-of-contents {
			@include fonts-stack('Satoshi', sans-serif);
			@include fonts-alternate-style();
			background: var(--color-surface);
			line-height: 180%;
			position: sticky;

			@include layout-flex-column();

			h3 {
				display: flex;
				gap: $x-space-xs;
				align-items: center;
			}

			.chapter {
				@include layout-flex-column();
				margin-inline: $x-space-xs;

				a {
					padding-block: $x-space-xs;
					padding-inline: $x-space-xs;
					color: var(--color-text-muted);

					&:hover {
						color: var(--color-text);
					}
				}
			}

			@include layout-respond-max('md') {
				display: none;
			}

			@include layout-respond('lg') {
				top: $x-space-md;
				padding: $x-space-sm;
				margin-inline: $x-space-md;
				border-radius: $x-space-xs;
			}
		}

		@include layout-respond('lg') {
			grid-area: 1 / 2 / 2 / 3;
		}
	}

	@include layout-respond('lg') {
		display: grid;
		grid-template-columns: 3.5fr 2fr;
		grid-template-rows: 1fr 1fr;

		main {
			grid-area: 1 / 1 / 2 / 1;

			p,
			li {
				padding-inline: $x-space-sm;
			}
		}
	}

	@include layout-respond-max('md') {
		// padding-inline: $x-space-md;
	}

	@include layout-respond('2xl') {
		max-width: $x-breakpoint-xl-content;
		margin-inline: auto;
	}

	section {
		@include layout-respond-max('md') {
			margin-bottom: $x-space-md;
		}

		@include layout-respond('md') {
			margin-bottom: $x-space-lg;
		}
	}

	h1,
	h2,
	h3,
	h4 {
		color: var(--color-heading);

		padding-top: $x-space-md;
		@include fonts-stack('Satoshi-Bold', sans-serif);
		@include fonts-alternate-style();
		padding-inline: $x-font-size-md;
	}

	h1 {
		line-height: 120%;

		@include layout-respond-max('md') {
			font-size: $x-font-size-3xl;
			margin-bottom: $x-space-md;
			margin-bottom: $x-space-lg;
		}

		@include layout-respond('md') {
			font-size: $x-font-size-4xl;
			margin-bottom: $x-space-lg;
		}
	}

	h2 {
		@include layout-respond-max('md') {
			font-size: $x-font-size-xl;
			margin-bottom: $x-space-sm;
			margin-bottom: $x-space-md;
		}

		@include layout-respond('md') {
			font-size: $x-font-size-2xl;
			margin-bottom: $x-space-md;
		}
	}

	h3 {
		@include fonts-stack('Satoshi-Light', sans-serif);
		@include fonts-alternate-style();
		margin-bottom: $x-space-md;

		@include layout-respond-max('md') {
			font-size: $x-font-size-lg;
		}

		@include layout-respond('md') {
			font-size: $x-font-size-xl;
		}
	}

	ul {
		list-style-type: disc;
	}

	p,
	li {
		@include fonts-stack('Satoshi-Regular', sans-serif);
		@include fonts-alternate-style();

		letter-spacing: 0.6px;
		padding-inline: $x-font-size-md;

		@include layout-respond-max('md') {
			font-size: $x-font-size-md;
			margin-bottom: $x-space-md;
			line-height: 180%;
		}

		@include layout-respond('md') {
			font-size: $x-font-size-lg;
			margin-bottom: $x-space-md;
			text-align: justify;
		}
	}

	li {
		margin-left: $x-space-lg;
	}

	.img-container {
		overflow: hidden;
		aspect-ratio: 16 / 9;

		img {
			width: 100%;
		}

		@include layout-respond-max('md') {
			min-height: $x-space-xxl;
			margin-bottom: $x-space-sm;
		}

		@include layout-respond('md') {
			min-height: $x-space-xxxl;
			margin-bottom: $x-space-md;
		}
	}

	blockquote {
		text-indent: $x-space-lg;

		@include fonts-stack('Satoshi', sans-serif);
		@include fonts-alternate-style();
		box-shadow: $x-bs-sketch-falloff;

		background: var(--color-surface);

		padding-inline: $x-space-md;

		@include layout-respond-max('md') {
			padding-block: $x-space-lg;
		}

		@include layout-respond('md') {
			padding-block: $x-space-md;
		}

		// actual quote
		> :not(footer) {
			font-size: $x-font-size-md;
			color: var(--color-text);

			@include layout-respond-max('md') {
				max-width: unset;
			}

			@include layout-respond('lg') {
				font-size: $x-font-size-lg;
				max-width: 45ch;
			}
		}

		footer {
			@include layout-respond-max('md') {
				margin-top: $x-space-md;
			}

			text-align: right;
			color: var(--color-text-muted);
		}
	}
}
