@use '_index' as *;

$custom-light-theme: (
	comment: #6a737d,
	prolog: #6a737d,
	doctype: #6a737d,
	cdata: #6a737d,
	punctuation: #24292e,
	keyword: #d73a49,
	property: #005cc5,
	tag: #22863a,
	boolean: #d73a49,
	number: #005cc5,
	constant: #005cc5,
	symbol: #005cc5,
	function: #6f42c1,
	class-name: #6f42c1,
	string: #032f62,
	char: #032f62,
	attr-value: #032f62,
	regex: #032f62,
	url: #032f62,
	operator: #d73a49,
	entity: #d73a49,
	inserted: #22863a,
	deleted: #b31d28,
	important: #b31d28,
	bold: null,
	italic: null
);

$custom-dark-theme: (
	comment: #5c6370,
	prolog: #5c6370,
	doctype: #5c6370,
	cdata: #5c6370,
	punctuation: #abb2bf,
	keyword: #c678dd,
	property: #c678dd,
	tag: #c678dd,
	boolean: #c678dd,
	number: #c678dd,
	constant: #c678dd,
	symbol: #c678dd,
	function: #61afef,
	class-name: #61afef,
	string: #98c379,
	char: #98c379,
	attr-value: #98c379,
	regex: #98c379,
	url: #98c379,
	operator: #56b6c2,
	entity: #56b6c2,
	inserted: #56b6c2,
	deleted: #e06c75,
	important: #e06c75,
	bold: null,
	italic: null
);

@include theming-declare-schemes-basic($custom-light-theme, $custom-dark-theme);
@include theming-impose-schemes-basic();
@include theming-impose-scroll-scheme();

@mixin code-token-colors($prefix: 'color') {
	$tokens: comment prolog doctype cdata punctuation keyword property tag boolean number constant
		symbol function class-name string char attr-value regex url operator entity inserted deleted
		important bold italic;

	@each $token in $tokens {
		@if $token == bold {
			.token.bold {
				font-weight: bold;
			}
		} @else if $token == italic {
			.token.italic {
				font-style: italic;
			}
		} @else {
			.token.#{$token} {
				color: var(--#{$prefix}-#{$token});
			}
		}
	}
}

.banner {
	width: 100vw;
}

#content {
	overflow-y: scroll;
	position: sticky;
	padding-bottom: $x-space-xxl;

	.heading-anchor {
		display: inline-block;
		color: var(--color-text-muted);
		position: relative;
		right: -$x-space-md;
	}

	pre {
		display: block;
		overflow-x: auto; /* horizontal scroll inside pre */
		max-width: 100%; /* never exceed parent width */
		margin: 1em 0;
		border-radius: 0.5em;
		white-space: pre; /* preserve spacing */
		word-wrap: normal; /* don’t wrap lines unless necessary */

		&:has(code) {
			background-color: var(--color-surface);
			@include code-token-colors();
			margin-bottom: $x-space-lg;
			padding-block: $x-space-md;
			padding-inline: $x-space-lg;
		}
	}

	/* Important: make code a block to contain long lines */
	pre code {
		display: block;
		width: 10ch;
		tab-size: $x-space-sm;
		font-size: $x-font-size-lg;
	}

	aside {
		.table-of-contents {
			@include fonts-stack('Satoshi', sans-serif);
			@include fonts-alternate-style();
			background: var(--color-surface);
			line-height: 180%;
			position: sticky;

			@include layout-flex-column();

			h3 {
				display: flex;
				gap: $x-space-xs;
				align-items: center;
			}

			.chapter {
				@include layout-flex-column();
				margin-inline: $x-space-xs;

				a {
					padding-block: $x-space-xs;
					padding-inline: $x-space-xs;
					color: var(--color-text-muted);

					&:hover {
						color: var(--color-text);
					}
				}
			}

			@include layout-respond-max('md') {
				display: none;
			}

			@include layout-respond('lg') {
				top: $x-space-md;
				padding: $x-space-sm;
				margin-inline: $x-space-md;
				border-radius: $x-space-xs;
			}
		}

		@include layout-respond('lg') {
			grid-area: 1 / 2 / 2 / 3;
		}
	}

	@include layout-respond('lg') {
		display: grid;
		grid-template-columns: 3.5fr 2fr;
		grid-template-rows: 1fr 1fr;

		main {
			grid-area: 1 / 1 / 2 / 1;

			p,
			li {
				padding-inline: $x-space-sm;
			}
		}
	}

	@include layout-respond-max('md') {
		// padding-inline: $x-space-md;
	}

	@include layout-respond('2xl') {
		max-width: $x-breakpoint-xl-content;
		margin-inline: auto;
	}

	section {
		@include layout-respond-max('md') {
			margin-bottom: $x-space-md;
		}

		@include layout-respond('md') {
			margin-bottom: $x-space-lg;
		}
	}

	h1,
	h2,
	h3,
	h4 {
		color: var(--color-heading);

		padding-top: $x-space-md;
		@include fonts-stack('Satoshi-Bold', sans-serif);
		@include fonts-alternate-style();
		padding-inline: $x-font-size-md;
	}

	h1 {
		line-height: 120%;

		@include layout-respond-max('md') {
			font-size: $x-font-size-3xl;
			margin-bottom: $x-space-md;
			margin-bottom: $x-space-lg;
		}

		@include layout-respond('md') {
			font-size: $x-font-size-4xl;
			margin-bottom: $x-space-lg;
		}
	}

	h2 {
		@include layout-respond-max('md') {
			font-size: $x-font-size-xl;
			margin-bottom: $x-space-sm;
			margin-bottom: $x-space-md;
		}

		@include layout-respond('md') {
			font-size: $x-font-size-2xl;
			margin-bottom: $x-space-md;
		}
	}

	h3 {
		@include fonts-stack('Satoshi-Light', sans-serif);
		@include fonts-alternate-style();
		margin-bottom: $x-space-md;

		@include layout-respond-max('md') {
			font-size: $x-font-size-lg;
		}

		@include layout-respond('md') {
			font-size: $x-font-size-xl;
		}
	}

	ul {
		list-style-type: disc;
	}

	p,
	li {
		@include fonts-stack('Satoshi', sans-serif);
		@include fonts-alternate-style();

		letter-spacing: 0.6px;
		padding-inline: $x-font-size-md;

		@include layout-respond-max('md') {
			font-size: $x-font-size-md;
			margin-bottom: $x-space-lg;
			line-height: 180%;
		}

		@include layout-respond('md') {
			font-size: $x-font-size-lg;
			margin-bottom: $x-space-md;
			text-align: justify;
		}
	}

	li {
		margin-left: $x-space-lg;
	}

	.img-container {
		overflow: hidden;
		aspect-ratio: 16 / 9;

		@include layout-respond-max('md') {
			min-height: $x-space-xxl;
			margin-bottom: $x-space-sm;
		}

		@include layout-respond('md') {
			min-height: $x-space-xxxl;
			margin-bottom: $x-space-md;
		}
	}

	blockquote {
		text-indent: $x-space-lg;

		@include fonts-stack('Satoshi', sans-serif);
		@include fonts-alternate-style();
		box-shadow: $x-bs-sketch-falloff;

		background: var(--color-surface);

		padding-inline: $x-space-md;

		@include layout-respond-max('md') {
			padding-block: $x-space-lg;
		}

		@include layout-respond('md') {
			padding-block: $x-space-md;
		}

		// actual quote
		> :not(footer) {
			font-size: $x-font-size-md;
			color: var(--color-text);

			@include layout-respond-max('md') {
				max-width: unset;
			}

			@include layout-respond('lg') {
				font-size: $x-font-size-lg;
				max-width: 45ch;
			}
		}

		footer {
			@include layout-respond-max('md') {
				margin-top: $x-space-md;
			}

			text-align: right;
			color: var(--color-text-muted);
		}
	}
}

#blogs {
	background: var(--color-bg);
	@include layout-flex-column();
	@include layout-viewport-full-height-lockdown();
}

#nav {
	view-transition-name: backdrop-nav;
	background: var(--color-surface);
	box-shadow: $x-bs-sketch-falloff;
	position: sticky;
	top: 0;
	z-index: 999;
}

div > :last-of-type(p) {
	margin: $x-space-xxl;
}
