.alkali_metal {
	--bg: #893838;
}

.alkaline_earth_metal {
	--bg: #cf8b56;
}

.transition_metal {
	--bg: #8b624c;
}

.post-transition_metal {
	--bg: #5878a1;
}

.metalloid {
	--bg: #507850;
}

.non-metal {
	--bg: #cc4b4b;
}

.halogen {
	--bg: #ab5393;
}

.noble_gas {
	--bg: #884dff;
}

.lanthanide {
	--bg: #7f6caa;
}

.actinide {
	--bg: #b05266;
}
